<!-- app/views/shared/_navigation.html.erb -->
<nav class="navbar navbar-default navbar-static-top" style="height: 75px;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>" style="font-size: 28px;color: green;font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;" ><img src="<%= image_url("logo-resized.png")%>", style="width: 50px;">eLucidaid</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="margin-top: 15px;">
      <% if authuser_signed_in? %>
        <li><%= link_to('Admin Logout', destroy_authuser_session_path, :method => :delete) %></li>
      <% elsif licenseuser_signed_in? %>
        <li><%= link_to('Account', subscription_path(User.find_by(email: current_licenseuser.email).subscriptions.last.id), :method => :get,style: "color:blue;") %></li>
        <li><%= link_to('Log Out', destroy_authuser_session_path, :method => :delete,style: "color:blue;") %></li>
      <% end %>
        <li><a href="<%= pricing_path %>">Pricing</a></li>
        <li><a href="<%= new_subscription_path %>" data-turbolinks="false">Download</a></li>
        <li><a href="<%= features_path %>">Features</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


